
@media only screen and (max-width: 575px) {
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Thai:wght@100..900&display=swap');

body {
    font-family: "Noto Sans Thai", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings: "wdth" 100;
    background-color: #fefefa;
    margin: 1.25rem;
    /* padding: 1.25rem; */
}

#kunlanan {
    transform: translate(-4.25rem);
    height: clamp(25rem,2.5vw,27rem);
    width: clamp(25rem,2.5vw,27rem);
}

#yong {
    transform: translate(10.25rem, 7.25rem);
    height: clamp(30rem,2.5vw,33rem);
    width: clamp(17rem,2.5vw,20rem);
}

#ake {
    transform: translate(-3.25rem, 15.25rem);
    height: clamp(29rem,2.5vw,27rem);
    width: clamp(22rem,2.5vw,27rem);
}



.blurbox {
    position: absolute;
    z-index: 0;
    width: 30rem;
    height: 30rem;
    background-color: rgb(55, 55, 100);
    border-radius: 100%;
    filter: blur(50rem);
    transform: translate(2rem, 12rem);
}

.blurbox-front {
    position: absolute;
    width: 15rem;
    height: 15rem;
    background-color: rgb(108, 108, 187);
    border-radius: 100%;
    filter: blur(4rem);
    transform: translate(6rem, 25rem);
}

.header {
    width: 300px;
    height: 50px;
    display: inline-block;
    background-color: #fefefa;
    z-index: 2;
}

.header-box::after, .header-box::before {
    position: absolute;
    display: inline-block;
    content: '';
    width: 90px;
    height: 10px;
    background-color: rgb(28, 42, 172);
    z-index: -100;
}

.header-box::after {
    right: 0;
}
.header-box::before {
    left: 0;
}
}

@media only screen and (min-width: 576px) and (max-width: 991px) {
    @import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Thai:wght@100..900&display=swap');

body {
    font-family: "Noto Sans Thai", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings: "wdth" 100;
    background-color: #fefefa;
    margin: 1.25rem;
    /* padding: 1.25rem; */
}


#kunlanan {
    transform: translate(-10.25rem);
    height: clamp(25rem,2.5vw,27rem);
    width: clamp(25rem,2.5vw,27rem);
}

#yong {
    transform: translate(10.25rem, 7.25rem);
    height: clamp(30rem,2.5vw,33rem);
    width: clamp(17rem,2.5vw,20rem);
}

#ake {
    transform: translate(-6.25rem, 20.25rem);
    height: clamp(29rem,2.5vw,27rem);
    width: clamp(22rem,2.5vw,27rem);
}

.screen {
    padding-left: 14rem;
    padding-right: 14rem;
}

.blurbox {
    position: absolute;
    z-index: 0;
    width: 30rem;
    height: 30rem;
    background-color: rgb(55, 55, 100);
    border-radius: 100%;
    filter: blur(50rem);
    transform: translate(2rem, 12rem);
}

.blurbox-front {
    position: absolute;
    width: 15rem;
    height: 15rem;
    background-color: rgb(108, 108, 187);
    border-radius: 100%;
    filter: blur(4rem);
    transform: translate(6rem, 25rem);
}

.header {
    width: 300px;
    height: 50px;
    display: inline-block;
    background-color: #fefefa;
    z-index: 2;
}

.header-box::after, .header-box::before {
    position: absolute;
    display: inline-block;
    content: '';
    width: 90px;
    height: 10px;
    background-color: rgb(28, 42, 172);
    z-index: -100;
}

.header-box::after {
    right: 0;
}
.header-box::before {
    left: 0;
}
}

@media (min-width: 992px) {
    body {
        font-family: "Noto Sans Thai", sans-serif;
        font-optical-sizing: auto;
        font-style: normal;
        font-variation-settings: "wdth" 100;
        background-color: #fefefa;
        margin: 1.25rem;
        /* padding: 1.25rem; */
    }
    
    
    #kunlanan {
        transform: translate(-10.25rem);
        height: clamp(25rem,2.5vw,27rem);
        width: clamp(25rem,2.5vw,27rem);
    }
    
    #yong {
        transform: translate(10.25rem, 7.25rem);
        height: clamp(30rem,2.5vw,33rem);
        width: clamp(17rem,2.5vw,20rem);
    }
    
    #ake {
        transform: translate(-6.25rem, 20.25rem);
        height: clamp(29rem,2.5vw,27rem);
        width: clamp(22rem,2.5vw,27rem);
    }
    
    .screen {
        padding-left: 14rem;
        padding-right: 14rem;
    }
    
    .blurbox {
        position: absolute;
        z-index: 0;
        width: 30rem;
        height: 30rem;
        background-color: rgb(55, 55, 100);
        border-radius: 100%;
        filter: blur(50rem);
        transform: translate(2rem, 12rem);
    }
    
    .blurbox-front {
        position: absolute;
        width: 15rem;
        height: 15rem;
        background-color: rgb(108, 108, 187);
        border-radius: 100%;
        filter: blur(4rem);
        transform: translate(6rem, 25rem);
    }
    
    .header {
        width: 300px;
        height: 50px;
        display: inline-block;
        background-color: #fefefa;
        z-index: 2;
    }
    
    .header-box::after, .header-box::before {
        position: absolute;
        display: inline-block;
        content: '';
        width: 90px;
        height: 10px;
        background-color: rgb(28, 42, 172);
        z-index: -100;
    }
    
    .header-box::after {
        right: 0;
    }
    .header-box::before {
        left: 0;
    }
}